--extra-index-url https://download.pytorch.org/whl/cpu

Flask==2.3.0
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.5
gunicorn==21.2.0

numpy==1.24.3
opencv-python-headless==4.8.1.78
Pillow==10.0.1

torch==2.0.1+cpu
torchvision==0.15.2+cpu

easyocr==1.7.1
ultralytics==8.0.196
Werkzeug==2.3.7